{% extends 'base.html' %}

{% block pagetitle %}About{% endblock %}

<div class="about">
    {% block maintext %}
    <p>Individuals face recycling decisions every day.
    The decisions are particularly challenging when individuals visit new cities
    where local waste management rules might be different from one another.
    In 2020, the world generated 2.24 billion tonnes of solid waste;
    the equivalent of 0.79 kilograms per person per day.  
    </p>

    <p>With rapid growth and increased mobility of the population,
    the global waste is expected to increase by 73% per annum and
    reach 3.88 billion tonnes in 2050. As  80 % of the waste was not recycled,
    we believed that by supporting individuals making recycling decisions
    we can reduce waste. <a href="{{ url_for('resources') }}">Learn More</a></p>
    {% endblock %}

    {% block content %}
    

    <div class="container">
        <div class="section-title">
            <h1>Meet the Team</h1>
        </div>

        <div class="row">

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/imgs/Maggie.jpg" alt="Maggie">
                    </div>
                    <div class="team-content">
                        <h2>Maggie Yun</h2>
                        <h3>Product manager</h3>
                    </div>
                    <div class="team-social">
                        <a href="https://www.linkedin.com/in/maggie-yun/ 
                        " class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/imgs/Maryam.jpg" alt="Maryam">
                    </div>
                    <div class="team-content">
                        <h2>Maryam Almetnawy</h2>
                        <h3>Data Analyst</h3>
                    </div>
                    <div class="team-social">
                        <a href="https://www.linkedin.com/in/maryam-almetnawy/ 
                        " class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/imgs/Undine.jpg" alt="Undine">
                    </div>
                    <div class="team-content">
                        <h2>Undine Leopold</h2>
                        <h3>Back-end developer</h3>
                    </div>
                    <div class="team-social">
                        <a href="https://www.linkedin.com/in/undine-leopold-4b36a319a/ 
                        " class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            


            <div class="column">
                <div class="team">
                    <div class="team-img">
                        <img src="../static/imgs/Nashmeyah.jpg" alt="Nashmeyah">
                    </div>
                    <div class="team-content">
                        <h2>Nashmeyah Al Rekabi</h2>
                        <h3>Software engineer</h3>
                        <h4>nashalrekabi@gmail.com</h4>
                    </div>
                    <div class="team-social">
                        <a href="https://www.linkedin.com/in/nashmeyahalrekabi  
                        " class="social-li"> <i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

           

            

        </div>

    </div>

        </div>

    </div>
</div>
{% endblock %}
