<!doctype html>
<title>{% block title %}{% endblock %}Recycle Ninja</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Ninja</a></h1>
  <h1><a href="{{ url_for('about') }}">About</a></h1>
  <h1><a href="{{ url_for('analysis') }}">Analysis</a></h1>
  <h1><a href="{{ url_for('resources') }}">Resources</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
