<!DOCTYPE html>
<html>

<body>
<h1>Recycling Helper</h1>
<p>Welcome!</p><br>

<form action="{{ url_for('handle_data') }}" method="post">
    <label for="city">Please choose your city!</label><br>
    <select name="city_id" id="city_id"><br><br>
        {% for city in cities%}
            <option value={{city[0]}}>{{city[3]}}</option>
        {% endfor %}
    </select><br><br>
    <label for="action">I want to ...</label><br>
    <select name="action" id="action"><br><br>
        <option value="wizard">look up items</option>
        <option value="questions">get help</option>
    </select><br><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>
