<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Recycle Ninja</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
  </head>

  <body>

      <nav>
        <div class="logo">
            <!-- <img src="../static/imgs/76254.jpg" width="50" height="50"> -->
            <p>Recycle Ninja</p>
        </div>

       
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Ninja</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
            <li><a href="{{ url_for('resources') }}">Resources</a></li>
        </ul>
      </nav>

      <div class="center-content">
        <div class="main-text">
            <p>Recycle Ninja is a recycling assistant web application that recommends the best recycling option for users base on their location and the garbage at hand. 
            </p>
        </div>
  
        <div class="ninja-wizard">
            <div class="ninja">
                <form action="{{ url_for('handle_data') }}" method="post">
                    <label for="city">Please choose your city!</label><br>
                    <select name="city_id" id="city_id"><br><br>
                        {% for city in cities%}
                            <option value={{city[0]}}>{{city[3]}}</option>
                        {% endfor %}
                    </select><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        

    
        <!-- <div>
            <img src="../static/imgs/6608.jpg"  width="250" height="200">
        </div> -->
    
      </div>
    
  </body>
</html>

