<!DOCTYPE html>
<html>

<body>
<div>
<h1>Recycling help for {{city}}</h1>

<form action="" method="post">
My item (check all that apply):<br>
<label for="plastic"> is made of plastic </label>
<input type="checkbox" id="plastic" name="plastic" value="Plastic"><br>
<label for="glass"> is made of glass </label>
<input type="checkbox" id="glass" name="glass" value="Glass"><br>
<label for="size"> is larger than a credit card</label>
<input type="checkbox" id="size" name="size" value="Size"><br>
<input type="submit" value="Submit">
</form>
</div>


</body>
</html>
