{% extends 'base.html' %}


{% block header %}

<h1>Resources</h1>
{% endblock %}


{% block content %}
<h1>Database resources</h1>
<p>Boston:<br>
    <a href="https://www.boston.gov/departments/public-works/trash-and-recycling-day-schedule-and-search#!rc-cpage=wizard_material_list">
    https://www.boston.gov/departments/public-works/trash-and-recycling-day-schedule-and-search#!rc-cpage=wizard_material_list</a> (June/July 2022)<br><br>
    
    
    Edmonton:<br>
    <a href="https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Material-List/gtej-pcij/data">
    https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Material-List/gtej-pcij/data
    </a><br>
    <a href="https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Streams-List/444z-a7fx/data">
    https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Streams-List/444z-a7fx/data
    </a>
    (June 2022)<br><br>
    
    Toronto:<br>
    <a href="https://ckan0.cf.opendata.inter.prod-toronto.ca/tl/dataset/waste-wizard-lookup-table">
    https://ckan0.cf.opendata.inter.prod-toronto.ca/tl/dataset/waste-wizard-lookup-table
    </a>
    (June 2022)
    </p>

<h1>Analysis resources</h1>
<p>Global Waste Index - https://sensoneo.com/global-waste-index/
    World Bank What A Waste Global Database- https://datacatalog.worldbank.org/search/dataset/0039597
    European waste www.kaggle.com/datasets/konradb/european-waste-export-2004-2020?select=formatted_waste.csv 
    Waste Generation Index Overview-Verisk_Maplecroft_Waste_Generation_Index_Overview_2019.pdf (circularonline.co.uk) 
    
    
    </p>
<!-- Do you have questions? Consult your city's website at ...<br>
For hard-to-recycle items, check out these resources:<br> -->
{% endblock %}
