{% extends 'base.html' %}




{% block pagetitle %}Resources{% endblock %}




{% block content %}

<div class="resources-content">

    <div class="database-resource">
        <h1>Database Resources</h1>
        <p>Boston:<br>
    <a href="https://www.boston.gov/departments/public-works/trash-and-recycling-day-schedule-and-search#!rc-cpage=wizard_material_list">
    https://www.boston.gov/departments/public-works/trash-and-recycling-day-schedule-and-search#!rc-cpage=wizard_material_list</a> (June/July 2022)<br><br>
    
 </p>
 <p>
    Edmonton:<br>
    <a href="https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Material-List/gtej-pcij/data">
    https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Material-List/gtej-pcij/data
    </a><br>
    <a href="https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Streams-List/444z-a7fx/data">
    https://data.edmonton.ca/Environmental-Services/Waste-Recycling-Streams-List/444z-a7fx/data
    </a>
    (June 2022)<br><br>
</p>
<p>
    Toronto:<br>
    <a href="https://ckan0.cf.opendata.inter.prod-toronto.ca/tl/dataset/waste-wizard-lookup-table">
    https://ckan0.cf.opendata.inter.prod-toronto.ca/tl/dataset/waste-wizard-lookup-table
    </a>
    (June 2022)
    </p>
    </div>
    

    <div class="analysis-resource">
        <h1>Analysis Resources</h1>
        <p>Global Waste Index - <a href="https://sensoneo.com/global-waste-index/">https://sensoneo.com/global-waste-index/</a><br>
    World Bank What A Waste Global Database - <a href="https://datacatalog.worldbank.org/search/dataset/0039597">
    https://datacatalog.worldbank.org/search/dataset/0039597</a><br>
    European waste <a href="www.kaggle.com/datasets/konradb/european-waste-export-2004-2020?select=formatted_waste.csv">
    www.kaggle.com/datasets/konradb/european-waste-export-2004-2020?select=formatted_waste.csv</a><br>
    Waste Generation Index Overview-Verisk_Maplecroft_Waste_Generation_Index_Overview_2019.pdf (circularonline.co.uk) </p>
    </div>

</div>

{% endblock %}
