<!DOCTYPE html>
<html>

<body>

<h1>Recycling in {{city}}</h1>
<form action="{{url_for('search', city=city)}}" method="post" autocomplete="off">
    <label for="search">Search item</label><br>
    <input id="autocomplete" type="text" name="search" list="materials">
    <input type="submit" value="Submit">
    <datalist id="materials">
        {% for material in citylist%}
            <option>{{material[0]}}&#8291;</option>
        {% endfor %}
    </datalist>
</form>

<h1>{{result['material']}}</h1>
<h2>{{result['category']}}</h2>
<p>{{result['instructions']|safe}}</p>

</body>
</html>
