{% extends 'base.html' %}


{% block header %}

{% endblock %}


{% block content %}
<div class="center-content">
    <div class="ninja-wizard">
        <div class="ninja">
            <h1>Recycling in {{city[2]}}</h1>
            <form action="{{url_for('search', city_id=city[0])}}" method="post" autocomplete="off">
                <label for="search">Look up item</label><br>
                <input id="autocomplete" type="text" name="search" list="materials">
                <div class="btn">
                    <input type="submit" value="Submit">
                </div>
                <datalist id="materials">
                    {% for material in citylist%}
                        <option>{{material[0]}}&#8291;</option>
                    {% endfor %}
                </datalist>
            </form>
            
            <div class="results">
                <h1>{{result['material']}}</h1>
                <h2>{{result['category']}}</h2>
                <p>{{result['instructions']|safe}}</p>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}
